@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

/* For Tailwind v4 setup */
@import "tailwindcss";

@theme {
  --color-premium-black: #050505;
  --color-gold: #D4AF37;
}

body {
  /* Using the theme variable defined above */
  background-color: var(--color-premium-black);
  @apply text-zinc-100 overflow-x-hidden font-sans;
}

.gold-text {
  background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  -webkit-background-clip: text; /* Vendor prefix for Safari/Chrome */
  background-clip: text;         /* Standard property - Fixes the warning */
  -webkit-text-fill-color: transparent;
}